@import '../shared/colors';

.paper-detail {
  padding-bottom: 20px;
}

.paper-detail__thumbnail-container,
.paper-detail__thumbnail {
  width: 100%;
}

.paper-detail__info {
  margin-bottom: 10px;
}

.paper-detail__authors {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.paper-detail__published_date {
  font-style: italic;
  color: $font-grey;
}

.paper-detail__links {
  margin-top: 10px;
}
