.paper-preview {

}

.paper-preview__cell {
  text-align: center;
}

.paper-preview__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.paper-preview__text-left {
  text-align: left;
}

.paper-preview__votes {
  display: flex;
  flex-direction: column;
  align-items: middle;
}
