@import '../shared/colors';

.paper-detail {
  padding-bottom: 20px;
  padding: 10px 0;
}

.paper-detail__title {
  font-size: 32px;
  font-weight: bold;
}

.paper-detail__category {
  margin: 10px 0;
  padding: 10px;
  display: inline-block;
  background-color: $light-grey-bg;
  font-weight: bold;
}

.paper-detail__thumbnail-container,
.paper-detail__thumbnail {
  width: 100%;
}

.paper-detail__info {
  margin-bottom: 10px;
}

.paper-detail__authors {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.paper-detail__published_date {
  font-style: italic;
  color: $font-grey;
}

.paper-detail__links {
  margin-top: 10px;
}
