@import '../shared/colors';

.paper-filters {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.paper-filters__item {
  margin: 0 5px;
}

.paper-filters__link {
  padding: 10px 5px;
}

.paper-filters__link:hover,
.paper-filters__link--active {
  background-color: $link-active;
  color: white;
  text-decoration: none;
}
