<div class="paper-filters">
  <div class="paper-filters__categories">
    All categories
  </div>

  <div class="paper-filters__item">
    Today's Best
  </div>

  <div class="paper-filters__item">
    Weekly Best
  </div>

  <div class="paper-filters__item">
    Monthly Best
  </div>

  <div class="paper-filters__item">
    Latest
  </div>
</div>
