<div class="papers-index">
  <%= render 'paper_filters' %>

  <table class="papers-index__table">
    <thead>
      <tr>
        <th><!-- rank --></th>
        <th><!-- upvote/downvote --></th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Published</th>
        <th>Pdf</th>
        <th>Html</th>
      </tr>
    </thead>
    <tbody>
      <% @arvix_papers.each do |paper| %>
        <%= render 'paper_preview', paper: paper %>
      <% end %>
    </tbody>
  </table>
</div>
