<div class="papers-index">
  <%= render 'paper_filters' %>

  <table class="papers-index__table">
    <thead>
      <tr>
        <th>Rank</th>
        <th><!-- upvote/downvote --></th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Published</th>
        <th>Pdf</th>
        <th>Html</th>
      </tr>
    </thead>
    <tbody>
      <% @arvix_papers.each_with_index do |paper, idx| %>
        <%= render 'paper_preview', paper: paper, paper_rank: idx + 1 %>
      <% end %>
    </tbody>
  </table>
</div>
