<div class="paper-detail">
  <h2><%= @arvix_paper.title %></h2>
  <p><%= @arvix_paper.summary %></p>

  <div class="paper-detail__captures">

  </div>
  <div>
    <%= link_to "Back", :back %>
  </div>
</div>
